base: &base
  adapter: postgresql
  encoding: utf8
  username:
  password:
  host: 127.0.0.1
  pool: 5

development:
  <<: *base
  database: doer_development

test:
  <<: *base
  database: doer_test

staging:
  <<: *base
  database: doer_staging

production:
  <<: *base
  database: doer_production